* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #003046;
    --light-blue: #d7f9f4;
    --teal: #0d9c90;
    --light-teal: #a9e0d8;
    --peach: #fcebdc;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--light-blue);
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 15px;
}

.peach {
    background-color: var(--peach);
}


/* Text classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-heading {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 0 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}


/* Navbar */
.navbar {
    position: sticky; 
    top: 0px;
    width: 100%;
    background-color: var(--light-blue);
    padding: 20px;
    transition: 0.5s;
}

.navbar.scrolled {
    background-color: var(--light-teal);
}

.navbar.scrolled .main-menu ul li a {
    background-color: var(--light-teal);
}

.navbar.scrolled .main-menu ul li a:hover {
    background-color: var(--light-blue);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar .main-menu ul li ul {
    display: inline;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navbar .main-menu ul li:hover > ul {
    display: inline;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}

.navbar ul li a {
    padding: 10px 20px;
    background-color: var(--light-blue);
    display: block;
    font-weight: 600;
    transition: 0.5s;
    white-space: nowrap;
}

.navbar ul li a:hover {
    background-color: var(--light-teal);
}


/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 15px;
    background: var(--light-teal);
    color: var(--dark-blue);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px 5px;
}

.btn:hover {
    opacity: 0.8;
}


/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: var(--dark-blue);
    margin: 6px 0;
}


/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: var(--light-blue);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}


/* Media Queries */
@media (max-width: 960px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .logo {
        width: 100%;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .recent .news-content {
        display: inline;
        width: 50%;
    }

    .footer .footer-logo {
        display: none;
    }
}

@media (max-width: 600px) {
    .home .container {
        padding-left: 75px;
    }

    .footer .footer-resources {
        display: none;
    }
}

@media (max-width: 500px) {
    .btn {
        margin: 7px 0;
    }

    .footer .footer-organization {
        display: none;
    }
}


/* Footer */
.footer {
    padding: 40px 0;
}
  
.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


/* Homepage */
.home {
    margin-bottom: 50px;
}

.home .container {
    background: url('../images/computerbg.png') no-repeat;
    background-size: 90%;
    background-position: right bottom;
    height: 550px;
}

.home .home-content {
    width: 70%;
    margin-bottom: 20px;
}

.news-content {
    display: flex;
}

.news-content .news-image {
    width: 100%;
}


/* About GWC Page */
